.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

.jumbotron h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.jumbotron a {
  color: white;
}

#about h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#feature {
  background-color: #e2edff;
}

#feature h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#pricing h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#pricing a {
  color: white;
}

#footer {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
